@font-face{
    font-family: 'head';
    src : url('head.ttf');
}
@font-face{
    font-family: 'body';
    src : url('body.ttf');
}

html {
    scrollbar-width: none;
}

body {
    font-family: 'body', sans-serif;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    font: 300%/150% 'head', cursive;
    background-color: #ccccff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a {

    color: #333;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 33px;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.login {
    padding: 10px;
    margin: 0 10px;
    font-family: 'body', sans-serif;


    background-color: #6666ff;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login:hover {
  background-color: #fff;
  color: #6666ff;
  border: 2px solid #6666ff;
}

section {
    padding: 50px;
    background-color: #ffe6e6;
    text-align: center;
}

section h2 {
    font-size: 60px;
    color: #00004d;
    margin-bottom: 30px;
}

section p {
    font-size: 40px;
    color: #000080;
    line-height: 1.5;
}

section img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

li {
    font-size: 32px;
    color: #000080;
    list-style-type: none;
}
